body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lavender;
}

.marquee {
  position: relative;
}

.navigation-container {
  display: flex;
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}

.navigation-container .logo img {
  border-radius: 50px;
}

.navigation-container .logo {
  margin-right: 640px;
}
.navigation-list {
  padding-right: 20px;
}

.navigation-list ul li a:hover {
  background-color: cornsilk;
  color: black;
  transition-delay: 0.2s;
}

.navigation-list ul li {
  display: inline-block;
  margin: 0;
  margin-right: 35px;
}

.navigation-list ul li a {
  color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
}

.marquee-text {
  position: absolute;
  top: 50%;
  left: 0%;
  color: beige;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  transform: translate(0%, -50%);
}

.marquee-text p {
  font-size: 30px;
}

.button-type {
  display: block;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding-left: 20px;
}

.button-type p {
  border: 1px solid blanchedalmond;
  border-radius: 15px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  padding: 10px;
  margin-right: 20px;
}

.button-type p a {
  text-decoration: none;
  color: aliceblue;
}

.button-type p:hover {
  background-color: burlywood;
  transition: 0.6s;
}

.blade-one,
.blade-three-row {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.blade-four-rows {
  margin: 0px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.blade-one-img img {
  border-radius: 10px;
}

.blade-two {
  background-color: mediumaquamarine;
}

#blade-two-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Cookie", cursive;
  font-size: 40px;
}

.blade-two-tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.blade-two-tile-one {
  background-color: white;
  height: 140px;
  text-align: right;
  padding-right: 20px;
  padding-top: 50px;
  position: relative;
}

.blade-two-tile-three {
  background-color: white;
  height: 190px;
  padding-right: 10px;
  padding-left: 20px;
  position: relative;
}

.blade-two-tile-one img {
  border-radius: 60%;
  position: absolute;
  right: 10px;
  top: -30px;
  background-color: white;
  padding: 10px;
}

.blade-two-tile-two img {
  width: 120px;
}

.blade-two-tile-three img {
  border-radius: 60%;
  position: absolute;
  top: -30px;
  padding: 10px;
  background-color: white;
}

.blade-three {
  padding-bottom: 20px;
}

.blade-three-row {
  margin: 25px;
}

.three-text {
  padding-top: 54px;
}

.blade-three-title {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.three-row {
  background-color: white;
  border-radius: 10px;
}

.three-row-text {
  text-align: center;
  font-size: 18px;
}

.three-row-img img {
  padding: 10px;
}

.range {
  color: green;
  font-weight: 500;
  font-size: 20px;
}

.blade-four {
  background-color: steelblue;
}

.blade-four-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Staatliches", cursive;
  font-size: 30px;
}

.blade-four-rows {
  display: block;
  margin: 20px;
  padding-bottom: 10px;
}

.four-tile {
  display: flex;
  grid-gap: 10px;
  background-color: mintcream;
  border-radius: 10px;
  margin-bottom: 20px;
}

.four-tile-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 140px;
  height: 93px;
}

.four-tile-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.four-blade-button {
  padding-bottom: 30px;
}

.four-blade-button p {
  text-align: center;
  padding: 10px;
  width: 130px;
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid black;
}

.four-blade-button p a {
  text-decoration: none;
  color: black;
}

/* .blade-four-rows.position-change {
  grid-row: 1;
  grid-column: 2;
} */

.blade-five {
  background-color: deepskyblue;
}
.blade-five-title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blade-five-rows {
  width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding-bottom: 20px;
}

.mosaic-tile-one,
.mosaic-tile-two,
.mosaic-tile-three {
  border-radius: 20px;
  background-color: blanchedalmond;
  min-height: 240px;
  position: relative;
}

.mosaic-tile-one {
  background-image: url(/Images/mosaic-tile-one.jpg);
}

.mosaic-tile-two {
  background-image: url(/Images/mosaic-tile-two.jpg);
}

.mosaic-tile-three {
  background-image: url(/Images/mosaic-tile-three.jpg);
}

.eyebrow p {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: cadetblue;
  padding: 2px;
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
  color: floralwhite;
}

.content p {
  background-color: none;
  position: absolute;
  margin-top: 80px;
  margin-right: 20px;
  background-color: transparent;
  font-size: 20px;
  display: none;
  font-style: italic;
  transform: translateX(-100%);
}

.mosaic-tile-one:hover .content p,
.mosaic-tile-two:hover .content p,
.mosaic-tile-three:hover .content p {
  display: block;
  transition: all 0.8s ease-in-out;
  transform: translateX(0);
}

.spotlight {
  display: grid;
  grid-template-columns: auto auto;
  width: 1024px;
  margin: 0 auto;
  border-radius: 10px;
}

.spotlight-text {
  padding: 45px 30px;
  text-align: justify;
  font-size: 18px;
  font-style: italic;
}

.spotlight-image img {
  border-radius: 10px;
}

.radio {
  text-align: center;
  padding: 20px;
}

.spotlight-text.change {
  color: azure;
}

.spotlight-text.change-color {
  color: yellow;
}

.drawer {
  padding-bottom: 20px;
}

.drawer-title {
  background-color: lightcyan;
  border-radius: 10px;
  width: 1024px;
  margin: 0 auto;
  padding: 3px;
  padding-left: 19px;
  font-family: "Kaushan Script", cursive;
}

.drawer-content.switch {
  display: none;
}

.footer-blade {
  background-color: ghostwhite;
}

.footer-logo {
  padding-top: 30px;
  text-align: center;
}

.write-us {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 220px;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.contact-us ul li {
  max-width: 1024px;
  margin: 0 auto;
  margin-left: 20px;
}

.contact-us {
  padding-left: 110px;
  padding-bottom: 110px;
}

.legal-footer {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.legal-fat-footer {
  color: green;
}

.copyright {
  margin-left: 40px;
}

.secure-card {
  position: absolute;
  right: 30px;
  top: 15px;
}

/* Media Queries */
/* Tablet and Desktop */

@media (min-width: 768px) {
  .blade-one {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-top: 40px;
  }

  .marquee-text {
    position: absolute;
    top: 39%;
    left: 0%;
    transform: translate(-0%, -39%);
  }

  .marquee-text p {
    font-size: 90px;
  }

  .blade-two-tile-two img {
    width: 100%;
  }

  .blade-three-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 20px;
  }

  .blade-four-rows {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding-bottom: 40px;
  }

  .four-tile {
    display: flex;
    grid-gap: 10px;
    background-color: mintcream;
    border-radius: 10px;
  }

  .button-type p {
    font-size: 20px;
    margin: 0px;
    margin-right: 15px;
  }

  .button-type {
    padding-left: 20px;
  }

  .button-type p {
    border: 1px solid blanchedalmond;
    border-radius: 15px;
    display: inline-block;
    min-width: 120px;
    min-height: 30px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 10px;
    margin-right: 20px;
  }
}
