body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lavender;
}

section {
  display: flex;
  background-color: ivory;
  margin-top: -30px;
}

.logo p {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  margin: 0px;
  padding-left: 20px;
  padding-top: 59px;
  color: green;
  font-weight: 900;
}

.navigation-container ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding-top: 65px;
}

.social-media ul {
  display: flex;
  margin: 0;
  padding-top: 78px;
  list-style-type: none;
}

.social-media ul li {
  margin-right: 20px;
}

.marquee {
  position: relative;
}

.marquee-text {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0%;
  color: beige;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  transform: translate(0%, -50%);
}

.button-type p {
  border: 1px solid blanchedalmond;
  border-radius: 15px;
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  padding-top: 9px;
  position: absolute;
  top: 340px;
  left: 10px;
  font-style: italic;
}

.button-type-two p {
  border-radius: 15px;
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  padding-top: 9px;
  position: absolute;
  top: 340px;
  left: 160px;
  font-style: italic;
  background-color: cadetblue;
}

.button-type-two p a {
  text-decoration: none;
}

.button-type p a {
  text-decoration: none;
  color: aliceblue;
}

.button-type p:hover {
  background-color: burlywood;
  transition: 0.6s;
}

.button-type-two p:hover {
  background-color: cornflowerblue;
  transition: 0.1s;
}

.blade-one,
.blade-three-row {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.blade-four-rows {
  margin: 0px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.blade-one-img img {
  border-radius: 10px;
}

.blade-two {
  background-color: mediumaquamarine;
}

#blade-two-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Cookie", cursive;
  font-size: 40px;
}

.blade-two-tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.blade-two-tile-one {
  background-color: white;
  height: 140px;
  text-align: right;
  padding-right: 20px;
  padding-top: 50px;
  position: relative;
}

.blade-two-tile-three {
  background-color: white;
  height: 190px;
  padding-right: 10px;
  padding-left: 20px;
  position: relative;
}

.blade-two-tile-one img {
  border-radius: 60%;
  position: absolute;
  right: 10px;
  top: -30px;
  background-color: white;
  padding: 10px;
}

.blade-two-tile-two img {
  width: 120px;
}

.blade-two-tile-three img {
  border-radius: 60%;
  position: absolute;
  top: -30px;
  padding: 10px;
  background-color: white;
}

.blade-three {
  padding-bottom: 20px;
}

.blade-three-row {
  margin: 25px;
}

.three-text {
  padding-top: 54px;
}

.blade-three-title {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.three-row {
  background-color: white;
  border-radius: 10px;
}

.three-row-text {
  text-align: center;
  font-size: 18px;
}

.three-row-img img {
  padding: 10px;
}

.range {
  color: green;
  font-weight: 500;
  font-size: 20px;
}

.blade-four {
  background-color: thistle;
}

.blade-four-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Staatliches", cursive;
  font-size: 30px;
}

.blade-four-rows {
  display: block;
  margin: 20px;
  padding-bottom: 10px;
}

.four-tile {
  display: flex;
  grid-gap: 10px;
  background-color: cornsilk;
  border-radius: 10px;
  margin-bottom: 20px;
}

.four-tile-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 140px;
  height: 93px;
}

.four-tile-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-blade {
  background-color: ghostwhite;
}

.footer-logo {
  padding-top: 30px;
  text-align: center;
}

.write-us {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 220px;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.contact-us ul li {
  max-width: 1024px;
  margin: 0 auto;
  margin-left: 20px;
}

.contact-us {
  padding-left: 110px;
  padding-bottom: 110px;
}

.legal-footer {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.legal-fat-footer {
  color: green;
}

.copyright {
  margin-left: 40px;
}

.secure-card {
  position: absolute;
  right: 30px;
  top: 15px;
}

/* Media Queries */
/* Tablet and Desktop */

@media (min-width: 768px) {
  .blade-one {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-top: 40px;
  }

  .marquee-text {
    font-size: 90px;
    position: absolute;
    top: 39%;
    left: 0%;
    transform: translate(-0%, -39%);
  }

  .blade-two-tile-two img {
    width: 100%;
  }

  .blade-three-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 20px;
  }

  .blade-four-rows {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding-bottom: 40px;
  }

  .four-tile {
    display: flex;
    grid-gap: 10px;
    background-color: cornsilk;
    border-radius: 10px;
  }
}
